#login_background_image {
	position   : absolute;
	bottom     : 0;
	object-fit : contain;
	padding    : 0;
	margin     : 0;
	display    : block;
	z-index    : -100;
}

.container {
	overflow    : hidden;
	margin-left : 5dvw;
	margin-top  : 10.7dvh;
}

#agreement-main {
	position    : absolute;
	top         : 9.4dvh;
	font-size   : 20px;
	font-weight : 700;
	text-align  : left;
	color       : #4d525c;
}

#agreement-sub {
	position   : absolute;
	top        : 12.9dvh;
	font-size  : 14px;
	text-align : left;
	color      : #4d525c;
}

#agreement-all-main {
	width       : 83dvw;
	position    : absolute;
	left        : 12dvw;
	top         : 27dvh;
	font-size   : 16px;
	font-weight : 700;
	text-align  : left;
	color       : #4d525c;
}

#agreement-all-sub {
	width       : 83dvw;
	position    : absolute;
	left        : 12dvw;
	top         : 29dvh;
	font-size   : 12px;
	font-weight : 500;
	text-align  : left;
	color       : #7d8492;
}

#agreement-item-container {
	width      : 90dvw;
	position   : absolute;
	top        : 36dvh;
	border-top : 1px solid #F3F3F3;
}

.div-checkbox {
	display    : flex;
	margin-top : 1dvh;
}

.agree-label {
	border           : none;
	padding          : 0;
	margin           : 0;
	font-size        : 14px;
	font-weight      : 500;
	text-align       : left;
	background-color : transparent;
}

.agreement-item-text {
	color : #4d525c;
}

.agreement-item-image {
	/*display      : inline-block;*/
	width        : auto;
	height       : 100%;
	margin-left  : auto;
	margin-right : 0;
}

#agreement-all-container > input[type=checkbox] {
	display : none;
}

#agreement-all-container > input[type=checkbox] + label {
	cursor            : pointer;
	background-repeat : no-repeat;
	background-image  : url("images/checkbox_non_selected.svg");
	height            : auto;
	left              : 5dvw;
	top               : 27dvh;
	padding-left      : 28px;
}

#agreement-all-container > input[type=checkbox]:checked + label {
	background-image : url("images/checkbox_selected.svg");
}

.div-checkbox > input[type=checkbox] {
	display : none;
}

.div-checkbox > input[type=checkbox] + label {
	cursor            : pointer;
	background-repeat : no-repeat;
	background-image  : url("images/checkbox_non_selected.svg");
	display           : flex;
	width             : auto;
	height            : 2.8dvh;
	padding-left      : 28px;
}

.div-checkbox > input[type=checkbox]:checked + label {
	background-image : url("images/checkbox_selected.svg");
}

#agreement_button {
	width            : 90dvw;
	height           : 6dvh;
	position         : absolute;
	background-color : #009A6E;
	border           : none;
	border-radius    : 8px;
	top              : 86dvh;
	left             : 50%;
	margin-left      : -45dvw;
}

#agreement_button:disabled {
	background-color : #DDDDDD;
}

#agreement-button-text {
	font-size   : 16px;
	font-weight : 600;
	color       : white;
}