p {
	margin-top    : 10px;
	margin-bottom : 10px;
}

#login_background_image {
	position   : absolute;
	bottom     : 0;
	object-fit : contain;
	padding    : 0;
	margin     : 0;
	display    : block;
	z-index    : -100;
}

.container {
	overflow    : hidden;
	margin-left : 5dvw;
	margin-top  : 17dvh;
}

#welcome-main {
	font-size   : 20px;
	/*text-size-adjust : auto;*/
	font-weight : 600;
	text-align  : left;
	color       : #4d525c;

}

#welcome-sub {
	font-size  : 14px;
	/*text-size-adjust : 70%;*/
	text-align : left;
	color      : #4d525c;
}

#next-button {
	width            : 90dvw;
	height           : 6dvh;
	position         : absolute;
	background-color : #009A6E;
	border           : none;
	border-radius    : 8px;
	top              : 86dvh;
	left             : 50%;
	margin-left      : -45dvw;
}

#next-button-text {
	font-size   : 16px;
	font-weight : 600;
}