header {
	display : none;
}

#image_yyamyyam {
	position   : absolute;
	width      : 69.2dvw;
	height     : 69.2dvw;
	top        : 41.2dvh;
	left       : 50%;
	transform  : translateX(-50%);
	object-fit : contain;
}

.intro {
	overflow    : hidden;
	margin-left : 5dvw;
	margin-top  : 18dvh;
}

.intro-main {
	width       : 90dvw;
	font-size   : 20px;
	font-weight : 600;
	text-align  : left;
	color       : #4d525c;
	padding     : 0;
	margin      : 0;
}

.intro-sub {
	width      : 90dvw;
	font-size  : 18px;
	text-align : left;
	color      : #4d525c;
	padding    : 0;
	margin     : 0;
}

button {
	width            : 90dvw;
	height           : 5dvh;
	position         : absolute;
	background-color : #FEE500;
	border           : none;
	border-radius    : 24px;
	top              : 89dvh;
	left             : 50%;
	margin-left      : -45dvw;
}

#kakao_icon_image {

}

#kakao_button_text {

}