
#history_back {
	display : inline-block;
}

#progress-bar {
	position   : absolute;
	width      : 100dvw;
	height     : 4px;
	top        : 6.6dvh;
	padding    : 0;
	margin     : 0;
	appearance : none;
}

#progress-bar::-webkit-progress-bar {
	background : #F3F3F3;
}

#progress-bar::-webkit-progress-value {
	background : #009A6E;
}

.container {
	overflow : hidden;
}

#physical_question {
	position    : absolute;
	top         : 16.8dvh;
	margin-left : 5dvw;
	font-size   : 18px;
	font-weight : 600;
	text-align  : left;
	color       : #181818;
}

#height_input_label {
	position   : absolute;
	display    : inline-block;
	top        : 21.8dvh;
	left       : 5dvw;
	width      : 42.3dvw;
	font-size  : 12px;
	text-align : left;
	color      : #181818;
	border     : 1px solid transparent;
}

#weight_input_label {
	position   : absolute;
	display    : inline-block;
	top        : 21.8dvh;
	right      : 5dvw;
	width      : 42.3dvw;
	font-size  : 12px;
	text-align : left;
	color      : #181818;
	border     : 1px solid transparent;
}

#height_input {
	position      : absolute;
	top           : 24.9dvh;
	left          : 5dvw;
	width         : 40.3dvw;
	height        : 6dvh;
	padding       : 0 0 0 2dvw;
	font-size     : 12px;
	text-align    : left;
	border        : 1px solid #B3B3B3;
	border-radius : 6px;
	color         : #181818;
}

#height_input:focus {
	outline      : none;
	border-color : #009A6E;
	color        : #009A6E;
}

#height_input::placeholder {
}

#weight_input {
	position      : absolute;
	top           : 24.9dvh;
	right         : 5dvw;
	width         : 40.3dvw;
	height        : 6dvh;
	padding       : 0 0 0 2dvw;
	font-size     : 12px;
	text-align    : left;
	border        : 1px solid #B3B3B3;
	border-radius : 6px;
	color         : #181818;
}

#weight_input:focus {
	outline      : none;
	border-color : #009A6E;
	color        : #009A6E;
}

#next_button {
	width            : 90dvw;
	height           : 6dvh;
	position         : absolute;
	background-color : #009A6E;
	border           : none;
	border-radius    : 8px;
	top              : 86dvh;
	left             : 50%;
	margin-left      : -45dvw;
}

#next_button:disabled {
	background-color : #DDDDDD;
}

#next_button-text {
	font-size   : 16px;
	font-weight : 600;
	color       : white;
}