html {
	width    : 100dvw;
	height   : 100dvh;
	padding  : 0;
	margin   : 0;
	/*display         : flex;*/
	/*justify-content : center;*/
	/*align-items     : center;*/
	position : relative;
}

img {
	width      : 21.5dvw;
	object-fit : contain;
	position   : absolute;
	top        : 30%;
	left       : 50%;
	transform  : translate(-50%, -50%);
}