span {
	padding : 0;
	margin  : 0;
}

#banner-br {
	line-height : 0;
}

#mypage-banner {
    color: white;
	height           : 17.5dvh;
	background-color : var(--bs-primary);
}

#banner-item-container {
	width    : 90dvw;
	height   : 11.4dvh;
	left     : 5dvw;
	top      : 9.8dvh;
}

/*
#nickname {
	color       : white;
	font-size   : 20px;
	font-weight : 600;
	text-align  : left;
	line-height : 1em;
}

#hello {
	color       : white;
	font-size   : 20px;
	text-align  : left;
	line-height : 1em;
}

#kakao {
	bottom      : 0;
	width       : 24px;
	height      : 24px;
	object-fit  : contain;
	line-height : 1em;
}

#email {
	bottom     : 0;
	left       : 28px;
	color      : white;
	font-size  : 14px;
	text-align : left;
}

#button-container {
	width    : 90dvw;
	left     : 5dvw;
	top      : 27.8dvh;
}

.div-button {
	width            : 90dvw;
	height           : 5.2dvh;
	border           : none;
	background-color : transparent;
	border-bottom    : 1px solid #DDDDDD;
}

.buttons {
	top              : 50%;
	transform        : translateY(-50%);
	border           : none;
	background-color : transparent;
	font-size        : 14px;
	text-align       : left;
	color            : #181818;
}

.image-container {
	width     : 24px;
	height    : 24px;
	right     : 0;
	top       : 50%;
	transform : translateY(-50%);
}

.item-image {
	width     : 12px;
	height    : 12px;
	top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
}

#logout {
	top              : 47dvh;
	left             : 50%;
	transform        : translateX(-50%);
	background-color : transparent;
	border           : none;
	font-size        : 14px;
	text-decoration  : none;
	color            : #B3B3B3;
}