@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");


:root {
    --primary-light: #009a6e;
    --secondary-light: #3ba688;
    --grayscale-01: #181818;
    --grayscale-02: #66625f;
    --grayscale-03: #b3b3b3;
    --grayscale-04: #dddddd;
    --grayscale-05: #f3f3f3;
    --grayscale-06: #fafafa;
    --error: #dd1d1d;
    --warning: #ed811e;
    --confirm: #00be40;
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 16px;
}

h3 = {
    font-size: 14px;
}

span, p {
    font-size: 12px;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: "Pretendard";
    font-size: 12px;
}

.mobile {
    width: 390px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 1px solid #333;
    border-top: none;
    border-bottom: none;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grayscale-05);
    background-color: white;
    color: var(--grayscale-01);
    font-size: 2rem;
}

main {
    width: 100%;
    flex: 1;
    background-color: var(--grayscale-06);
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-top: 1px solid var(--grayscale-05);
}

nav div {
    display: grid;
    justify-items: center;
    color: var(--grayscale-03);
    font-size: 14px;
}

.selected {
    color: var(--primary-light);
}

nav i {
    color: var(--grayscale-03);
    font-size: 20px;
}

