{% extends 'base.html' %}
{% load static %}
{% block title %}식단 검색{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'diet/css/record_detail_search.css' %}">
{% endblock css %}
{% block header %}식단 검색{% endblock %}
{% block main %}
    <div class="container d-flex flex-column px-4">
        <div class="row my-5">
            <form class="border d-flex py-2 rounded border-primary" id="search-form">
                <input type="search" class="search-bar" id="search-bar" placeholder="음식명을 입력해주세요" aria-label="Search" aria-describedby="search-addon" />
                <span class="search-icon" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </form>
        </div>

        <div class="row d-flex flex-fill">
            <form class="flex-fill d-flex flex-column">
                <ul id="list-group" class="list-group list-group-flush">

                </ul>

                <div class="flex-fill"></div>

                <div class="d-grid gap-2">
                    <input type="button" id="btn-confirm" class="btn btn-primary mb-3" value="확인"/>
                </div>

            </form>
        </div>
    </div>

{% endblock main %}
{% block script %}
<script src="{% static 'diet/js/record_detail_search.js' %}"></script>
{% endblock script %}