{% extends 'base.html' %}
{% load static %}
{% block title %}식단 촬영{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'diet/css/record_add.css' %}">
{% endblock css %}
{% block header %}식단 촬영{% endblock %}
{% block main %}
{% include 'loading.html' %}
{% include 'confirm.html' %}
<div class="container-fluid mt-3 px-4">
    <form id="record_form" method="post" enctype="multipart/form-data" action="{% if record_id %}{% url 'diet:record_edit' record_id %}{% else %} {% url 'diet:record_add' %}{% endif %}">
        {% csrf_token %}
        <div class="row align-items-center d-flex justify-content-between mb-3">
            <input type="hidden" id="text-now" name="take_at" value="{{ now }}" readonly>
            <div class="col-3 px-0 align-items-center">
                <input id="text-date" class="px-0 fs-2 fw-bold form-control border-0 no-focus" value="{{ record_date }}" readonly>
            </div>
            <div class="col-2 px-0">
                <input id="text-time" class="px-0 grayscale-02 form-control border-0 no-focus" value="{{ record_time }}" readonly>
            </div>
            <div role="button" class="col text-end grayscale-02">
                다시 올리기
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <div class="image-upload-wrapper">
                    <img id="imagePreview" src="" alt="" hidden>
                    <input type="hidden" id="image-base64" name="imageBase64" value="">
                    {% if food %}
                    <input type="file" name="recommended_image" accept="image/*">
                    {% else %}
                    <div id="upload-text" class="upload-text">이미지 파일을 선택하고 분석을 받아보세요.</div>
                    <input type="file" name="uploaded_image" accept="image/*">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="col">
                <h2>총 칼로리</h2>
            </div>
            <div id="total-calories" class="col fs-5 text-end">
                {% if food %} {{ food.calorie }} Kcal {% else %} 0 Kcal {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col grayscale-02">
                칼로리는 1회 제공량으로 측정됩니다.
            </div>
        </div>
        <div class="row mb-3">
            <div class="col grayscale-02">
                수정을 원하시면 해당 항목을 선택해주세요.
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="d-flex align-items-center mt-2 summary-box py-3">
                      <span id="bg-good" class="nutrition-status badge bg-primary me-5" hidden> 적정</span>
                      <span id="total-nutrition" class="grayscale-02">{% if food %}탄수화물 {{ food.carbohydrate }}g 단백질 {{ food.protein }}g 지방 {{ food.fat }}g
                                                    {% endif %}</span>
                  </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <h2>식사 선택</h2>
                <div class="row">
                    <div id="meal-group" class="col">
    <!--                    back단에서 식사한 끼니를 제외하고 전달한다. -->
                        <input type="radio" class="btn-check" name="meal" id="breakfast" value="1" autocomplete="off"> <!--breakfast-->
                        <label class="btn rounded-pill btn-outline-primary" for="breakfast">아침</label>

                        <input type="radio" class="btn-check" name="meal" id="lunch" value="2" autocomplete="off"> <!--lunch-->
                        <label class="btn rounded-pill btn-outline-primary" for="lunch">점심</label>

                        <input type="radio" class="btn-check" name="meal" id="dinner" value="3" autocomplete="off"> <!--dinner-->
                        <label class="btn rounded-pill btn-outline-primary" for="dinner">저녁</label>

                        <input type="radio" class="btn-check" name="meal" id="snack" value="4" autocomplete="off"> <!--snack-->
                        <label class="btn rounded-pill btn-outline-primary" for="snack">간식</label>

                        <input type="radio" class="btn-check" name="meal" id="night" value="5" autocomplete="off"> <!--night-->
                        <label class="btn rounded-pill btn-outline-primary" for="night">야식</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="row d-flex justify-content-between align-items-center mb-1">
                    <div class="col">
                        <h2>식단 상세</h2>
                    </div>
                    <div class="col text-end">
                        <a id="btn-edit-detail" href="/diet/detail"><i class="fas fa-pen grayscale-02"></i></a>
                    </div>
                </div>
                <div id="food-detail-list" class="row flex-nowrap overflow-auto no-scroll">
                    <!--식단 상세 정보가 추가되면 여기에 추가됩니다.-->

                    <div class="col-3 d-flex flex-column">
                        <div class="row flex-fill">
                            <a href="/diet/detail_search">
                                <img id="btn-add-detail" src="{% static 'asset/image_plus.png' %}" alt="식단 추가 이미지" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <h2>식사메모</h2>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control meal-memo" id="meal-memo" name="meal_memo" cols="50" rows="3" placeholder="식사 메모를 적어주세요."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-primary rounded w-100 py-3" value="입력 완료"/>
            </div>
        </div>
    </form>
</div>
{% endblock main %}
{% block script %}
<script src="{% static 'diet/js/record_add.js' %}"></script>
<script>
    {% if meal_type %}
        document.getElementById('{{ meal_type }}').checked = true;
    {% endif %}

    // 식단 상세 정보를 localStorage에 저장
    /*
    {% if food %}
        if (localStorage.getItem('foodInfo')) {
            localStorage.removeItem('foodInfo');
        }
        const foodInfo = {
            {{ food.id }}: ({
                name: '{{ food.name }}',
                calorie: {{ food.calorie }},
                carbohydrate: {{ food.carbohydrate }},
                protein: {{ food.protein }},
                fat: {{ food.fat }},
                quantity: 1,
        })};
        localStorage.setItem('foodInfo', JSON.stringify(foodInfo));
    {% endif %}
    */
</script>
{% endblock script %}
