{#온보딩 - 로그인#}
{% extends "user/user_base.html" %}
{% load static %}
{% load socialaccount %}

{% block head %}
	<title>냠냠 - 로그인</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'user/FLW_OB_001.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
	<div class = "intro">
		<p>
			<span class = "intro-main">건강 고민 끝,</span>
			<br/>
			<span class = "intro-main">냠냠에 오신 것을 환영합니다!</span>
		</p>

		<p class = "intro-sub"> 3초 가입으로 바로 시작해보세요 </p>
	</div>

	<form action = "{% provider_login_url 'kakao' %}" method = "post">
		{% csrf_token %}
		<button>
			<img src = "{% static 'user/images/kakao_icon.svg' %}" id = "kakao_icon_image" alt = "">
			<span id = "kakao_button_text">카카오 로그인</span>
		</button>
	</form>

	<img src = "{% static 'user/images/image_yyamyyam.png' %}" id = "image_yyamyyam" alt = "">
{% endblock %}