{#스플래시#}
{% load static %}
<!DOCTYPE html>
<html lang = "ko-KR">
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1, user-scalable=0, viewport-fit=cover">
	<meta http-equiv = "refresh" content = "3, url=/login/">
	<title>냠냠</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'user/FLW_SP_001.css' %}">
</head>
<body>

	<img src = "{% static 'user/images/splash.svg' %}" id = "splash_image" alt="">

</body>
</html>