{#사용자 정보#}
{% extends "user/user_base.html" %}
{% load static %}
{% block head %}
	<title>agreement</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'user/FLW_INFO_001.css' %}">
{% endblock %}

{% block header %}
	기본정보 입력
{% endblock %}

{% block main %}
	<progress id = "progress-bar" value = "0" max = "100"></progress>
	<form class = "form" action = "{% url 'user:nickname' %}" method = "post" name = "agreement_form">
		{% csrf_token %}
		<div class = "container">

			<p id = "welcome-main">환영합니다!</p>
			<p id = "welcome-sub">
				<span>냠냠은 고객의 건강한 식습관을 위해</span>
				<br/>
				<span>성별, 나이, 키, 몸무게, 영양 목표, 활동 수준 및</span>
				<br/>
				<span>기타 정보를 수집하여 하루 권장 칼로리를 제공합니다.</span>
			</p>

			<button id = "next-button" type = "submit">
				<span id = "next-button-text">다음</span>
			</button>
		</div>
		<img src = "{% static 'user/images/image_yyamyyam.svg' %}" id = "image_yyamyyam" alt = "">
	</form>
{% endblock %}