{#약관 동의#}
{% extends "user/user_base.html" %}
{% load static %}

{% block head %}
	<title>agreement</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'user/FLW_AG_001.css' %}">
	<script type = "text/javascript" src = "{% static 'user/FLW_AG_001.js' %}"></script>
{% endblock %}

{% block header %}
	이용약관 동의
{% endblock %}

{% block main %}
	<form class = "form" action = "{% url 'user:welcome' %}" method = "post" name = "agreement_form">
		{% csrf_token %}
		<div class = "container">
			<p id = "agreement-main">약관에 동의해 주세요</p>
			<p id = "agreement-sub">서비스 이용에 필요한 약관입니다.</p>

			<div id = "agreement-all-container">

				<input type = "checkbox" id = "agreeAll" name = "agree_all" value = "agree_all"/>
				<label id = "agreement-all-main" for = "agreeAll">모두 동의</label>
				<p id = "agreement-all-sub">서비스 이용을 위해 아래 약관에 모두 동의합니다.</p>
			</div>

			<div id = "agreement-item-container">
				<div class = "div-checkbox">
					<input type = "checkbox" id = "agree_age" name = "agree[]" onclick = "check_essential()" value = "agree_age"/>
					<label class = "agree-label" for = "agree_age">
						<span class = "agreement-item-text">[필수] 만 14세 이상 확인</span>
					</label>
					<span class = "agreement-item-image" onclick = "popup_age()">보기</span>
				</div>
				<div class = "div-checkbox">
					<input type = "checkbox" id = "agree_tos" name = "agree[]" onclick = "check_essential()" value = "agree_tos"/>
					<label class = "agree-label" for = "agree_tos">
						<span class = "agreement-item-text">[필수] 서비스 이용약관 동의</span>
					</label>
					<span class = "agreement-item-image" onclick = "popup_tos()">보기</span>
				</div>
				<div class = "div-checkbox">
					<input type = "checkbox" id = "agree_pp" name = "agree[]" onclick = "check_essential()" value = "agree_pp"/>
					<label class = "agree-label" for = "agree_pp">
						<span class = "agreement-item-text">[필수] 개인정보 처리방침 동의</span>
					</label>
					<span class = "agreement-item-image" onclick = "popup_pp()">보기</span>
				</div>
				<div class = "div-checkbox">
					<input type = "checkbox" id = "agree_mc" name = "agree[]" value = "agree_mc"/>
					<label class = "agree-label" for = "agree_mc">
						<span class = "agreement-item-text">[선택] 마케팅 수신 동의</span>
					</label>
					<span class = "agreement-item-image" onclick = "popup_mc()">보기</span>
				</div>
			</div>

			<button id = "agreement_button" disabled = "disabled" type = "submit">
				<span id = "agreement-button-text">동의 완료하고 계속하기</span>
			</button>
		</div>

		<script type = "application/javascript">
			document.querySelector('input[name="agreeAll"]');

			agreeAll.addEventListener('click', function () {

				const isChecked = agreeAll.checked;

				if (isChecked) {
					const checkboxes = document.querySelectorAll('input[name="agree[]"]');

					for (const checkbox of checkboxes) {
						checkbox.checked = true;
					}
				} else {
					const checkboxes = document.querySelectorAll('input[name="agree[]"]');
					for (const checkbox of checkboxes) {
						checkbox.checked = false;
					}
				}
				check_essential()
			})

			const checkboxes = document.querySelectorAll('input[name="agree[]"]');
			for (const checkbox of checkboxes) {
				checkbox.addEventListener('click', function () {

					const totalCnt = checkboxes.length;

					const checkedCnt = document.querySelectorAll('input[name="agree[]"]:checked').length;

					document.querySelector('#agreeAll').checked = totalCnt === checkedCnt;

				});
			}
		</script>

	</form>
{% endblock %}