<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        2/1일 13:25에 촬영된 사진입니다. 촬영 시간 또는 현재 시간을 선택해주세요.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">촬영 시간</button>
        <button type="button" class="btn btn-primary">현재 시간</button>
      </div>
    </div>
  </div>
</div>