<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>popup</title>
	<style type = "text/css">
		p {
			font-size : 12px
		}
	</style>
</head>
<body>
	<p>
		냠냠은(는) 회원의 개인정보 보호를 중시합니다. 다음과 같이 개인정보를 수집∙이용하고 있습니다. 개인정보가 필요한 시점에 최소한의 정보만을 수집하며, 고지한 범위 내에서만 사용합니다. 또한 사전 동의 없이 고지한 범위를 초과하여 이용하거나 외부에 공개하지 않습니다.
		<br>
		<br> <span style = "font-weight: bold">제 1조 [개인정보 수집에 대한 동의]</span>
		<br> 개인정보보호법에 의해 아래 개인정보 수집에 대한 동의를 거부할 권리가 있으며, 동의 거부 시에는 구매가 제한될 수 있습니다. 본인은 아래 항목들을 숙지하였으며, 개인정보 수집 및 이용에 동의합니다.
		<br>
		<br> <span style = "font-weight: bold">제 2조 [개인정보의 수집과 이용 목적]</span>
		<br> 회사는 원활한 서비스 제공을 위해 회원의 동의를 얻어 아래와 같은 개인정보를 수집하고 있습니다. 회원이 제공한 모든 정보는 아래의 목적, 용도 외에는 사용되지 않으며, 이용 목적이 변경될 때에는 사전 동의를 구합니다. 회사는 아래와 같은 목적을 위해 개인정보를 활용합니다.
		<br>
		<br> ① [회원가입 시]
		<br> - 서비스 제공을 위한 수집항목: 키, 몸무게, 성별, 출생연도
		<br> - 보유기간: 회원 탈퇴 시 즉시 삭제, 구매 회원인 경우 탈퇴와 상관없이 5년간 보관
		<br> - 서비스 이용과정이나 사업 처리과정에서 아래와 같은 정보들이 생성되어 수집될 수 있습니다. 서비스 이용기록, 접속로그, 쿠키, 접속 IP정보, 결제기록, 이용정지기록, 사용자별 어뷰징 기록
		<br>
		<br> <span style = "font-weight: bold">제 3조 [쿠키에 의한 개인정보 수집]</span>
		<br> 사이트는 고객에 대한 정보를 저장하고 수시로 찾아내는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트가 고객의 컴퓨터 브라우저(인터넷 익스플로러, 크롬 등)에 전송하는 소량의 텍스트 파일입니다.
		<br>
		<br> 1. 쿠키의 사용목적
		<br> ① 개인의 관심 분야에 따라 차별화된 정보를 제공
		<br> ② 접속빈도 또는 방문시간 등을 분석하고 회원의 취향과 관심분야를 파악하여 타겟(target) 마케팅 및 서비스 개선의 척도로 활용
		<br> ③ 쇼핑한 품목들에 대한 정보와 관심있게 둘러본 품목을 추적하여 개인 맞춤 쇼핑서비스 제공
		<br>
		<br> 2. 쿠키의 운영 및 거부
		<br> 쿠키는 사용자의 컴퓨터 하드디스크에 저장되며, 사용자의 컴퓨터는 식별하지만 사용자를 개인적으로 식별하지는 않습니다. 또한 고객은 웹브라우저에 설정을 통해 모든 쿠키를 허용/거부하거나, 쿠키가 저장될 때마다 확인을 거치도록 할 수 있습니다. 단, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용할 수 없습니다.
		<br>
		<br> <span style = "font-weight: bold">제 4조 [개인정보의 처리 및 보유 기간]</span>
		<br> 회사는 법령이 정하는 개인정보 보유, 이용 기간 내에서만 회원의 개인정보를 처리, 보유합니다. 이후에는 해당 정보를 지체 없이 파기합니다. 각각의 개인정보 처리 및 보유 기간은 아래와 같습니다.
		<br>
		<br> 표시·광고에 관한 기록 : 6개월(전자상거래 등에서의 소비자보호에 관한 법률)
		<br>
		<br> 접속에 관한 기록 보존 : 3개월(통신비밀보호법)
		<br>
		<br> <span style = "font-weight: bold">제 6조 [개인정보의 파기 절차 및 방법]</span>
		<br> 회사는 개인정보 수집 및 이용 목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 파기 절차와 방법은 아래와 같습니다.
		<br>
		<br> 1. 파기 절차 : 회원이 회원 가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보 보호 사유에 따라 일정 기간 동안 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우 이외의 다른 목적으로 이용되지 않습니다.
		<br> 2. 파기 방법: 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
		<br>
		<br> 제 7조 [개인정보의 안전성 확보 조치]
		<br> 회사는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
		<br>
		<br> 1. 개인정보의 암호화
		<br> 회원의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
		<br>
		<br> 2. 해킹 등에 대비한 기술적 대책
		<br> 사이트는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
		<br>
		<br> <span style = "font-weight: bold">제 8조 [개인정보보호 책임자]</span>
		<br> 회사는 회원의 개인정보를 보호하기 위하여 다음과 같은 관리적 대책을 강구하고 있습니다. 개인정보 취급 직원을 개인정보 관리 업무를 수행하는 자, 업무상 개인정보의 취급이 불가피한 자로 엄격히 제한하고, 담당 직원에 대한 수시 교육을 통하여 본 정책의 준수를 강조하고 있습니다. 회사는 개인정보 보호를 위해 개인정보 보호 책임자를 지정하고 있습니다. 개인정보와 관련해 문의해 주시면 성심을 다해 답변해 드리겠습니다.
		<br>
		<br> 개인정보 보호 책임자
		<br> 성명 : 변수아
		<br> 연락처 : 010-1234-5678 / [minefolio12@gmail.com](mailto:minefolio12@gmail.com)
		<br>
		<br> 개인정보침해에 대한 신고 또는 상담이 필요하신 경우에는 한국정보보호진흥원(KISA) 개인정보침해신고센터로 문의하시기 바랍니다. 또한, 귀하가 개인정보침해를 통한 금전적, 정신적 피해를 입으신 경우에는 한국정보보호진흥원*KISA) 개인정보분쟁조정위원회에 피해구제를 신청하실 수 있습니다.
		<br> - KISA 개인정보보호 (http://privacy.kisa.or.kr / (국번 없이) 118)
		<br> - 경찰청 사이버안전국 (http://cyberbureau.police.go.kr (국번없이) 182)
		<br> - 대검찰청 사이버수사과 (대검찰청 / 02-3480-3570)
		<br> - 개인정보 침해신고센터 (한국인터넷 진흥원 운영) ( http://privacy.kisa.or.kr / (국번없이) 118)
		<br> - 개인정보 분쟁조정위원회 (한국인터넷 진흥원 운영) (http://www.kopico.go.kr / 1833-6972)
		<br>
		<br> <span style = "font-weight: bold">제 9조 [고지의 의무]</span>
		<br> 이 개인정보처리방침은 시행일(2021년 12월 31일)로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
	</p>
</body>
</html>